DATABASE_URL="file:./dev.db"
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
NEXT_PUBLIC_ORGANIZATION_NAME="FORTE GRÃOS"
NEXT_PUBLIC_FIRST_ADMIN_EMAIL="jedielson.figueiredo@hotmail.com"
AGUA_DATABASE_URL="postgresql://usuario:senha@host:5432/agua_rural"
APP_SECRET=""
FILE_STORAGE_PATH="./uploads"
